@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SimpleEventManager.Models.Event>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Event Manager</h1>
    <p class="lead">This is a simple web application that allows the user to perform basic CRUD operations. Events are sorted based on their Start Date in descending order.</p>
    <p>@Html.ActionLink("Create New Event", "Create", "Events", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<h2>Available Events</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>
                        <i class="glyphicon glyphicon-star-empty"> </i>
                        @Html.DisplayFor(modelItem => item.Name)
                    </h4>
                </div>
                <div class="panel-body">
                    <p>Event Location: <b>@Html.DisplayFor(modelItem => item.Location)</b></p>
                    <p>Starting on <b>@item.StartDate.ToString("dd MMMM yyyy")</b> at <b>@item.StartDate.ToString("HH:mm")</b> and ending on <b>@item.EndDate.ToString("dd MMMM yyyy")</b> at <b>@item.EndDate.ToString("HH:mm")</b></p>
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", "Events", new { id = item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("Delete", "Delete", "Events", new { id = item.Id }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="col-lg-12">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>